.titleArea {
    display: flex;
    margin: auto;
    height: 80px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.titleArea form {
    margin-left: 20px;
    margin-right: 20px;
}

.titleArea form button {
    width: 30px;
    font-weight: bold;
    border: 1px solid blue;
    background-color: white;
    padding: 5px;
    color: blue;
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.timeRecord {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.timeRecord th,
td {
    width: 200px;
    border: none;
    /* 縦の枠線を消す */
    padding: 5px;
    /* セルの内側の余白 */
    text-align: center;
    /* セル内のテキストを中央揃え */
}

.timeRecord tr {
    border-bottom: 1px solid #ccc;
    /* 行の下にだけ枠線を設定 */
    width: 90%;
}

.timeRecord tr:last-child {
    border-bottom: none;
    /* 最後の行の下の枠線を消す */
}

.pagination {
    width: 100%;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

.flex.justify-between.flex-1.sm\:hidden {
    display: none;
}